.header{
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%;
    height:60px;
    background-color: hsl(0, 59%, 41%);
    
}

.header a{
    text-decoration: none;
    font-size:30px;
    cursor:pointer;
    color:#FFF;


}